# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

VsProject
.vscode

future_net/gcc/bin
future_net/gcc/build
future_net/gcc/future_net.tar.gz
future_net/gcc/temp
